<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <!--<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>-->
  <connectionStrings>
    <!--<add name="GetConnection"
      connectionString="data source=DESKTOP-PK2TQIC\SQLEXPRESS;
   initial catalog=proj2;persist security info=True; 
   Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" />-->
    
  <!--  <add name="GetConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=isproj2_20213t05;Integrated Security=false;User ID=isproj2_20213t05;Password=9eZZ7N3stUXdbKfb"/> -->

	  <!-- live 
	 <add name="GetConnection" connectionString="Data Source=SQL Server 2019; Initial Catalog=isproj2_20213t05; Integrated Security=false; User ID=isproj2_20213t05; Password=9e227N3stUXdbRfb Direct=true;Pooling=true;Min Pool Size=0; Max Pool Size=100;Connection Lifetime=0;"
        providerName="System.Data.SqlClient" /> -->
	  
	  <!-- localhost -->
	  <add name="GetConnection"
		 connectionString="Data Source=(localdb)\ProjectModels"
		 providerName="System.Data.SqlClient"
      /> 
	  
    <!-- <add name="GetConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=(local);Integrated Security=false;User ID=sa;Password=benilde"/>-->
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>
 
    <compilation debug="true" targetFramework="4.0">
   
    </compilation>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  
  </system.webServer>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>